on:
  push:
    branshes:
      - '*'
jobs:
  run_tests:
    runs-on: [ubuntu-latest]

    env:
      TELEGRAM_BOT_KEY: secrets.TELEGRAM_BOT_KEY
      TARGET_ID: secrets.TARGET_ID

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install requirements
        run: pip install -r requirements.txt 
      - name: Run tests
        run: python3 test.py
